<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Skywind">

    <test name="Test bet values for all games">
        <classes>
            <class name="TestLimits"/>
        </classes>
    </test>

    <test name="Test reels sets for all games">
        <classes>
            <class name="TestReelSets"/>
        </classes>
    </test>

</suite>